/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Tailwind Css & DaisyUi */
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #001931;
    --color-secondary: #627382;
}

/* Primary Gradient Color */
.gradient-clr {
    background: linear-gradient(180deg, #632EE3, #9F62F2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Standard property (for future support) */
    background-clip: text;
    color: transparent;
}

/* Style for NavLink */
a.active {
    background: linear-gradient(180deg, #632EE3, #9F62F2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Standard property (for future support) */
    background-clip: text;
    color: transparent;
    text-decoration: underline;
    text-underline-offset: 4px;
}